li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding-bottom: 10px;
}

nav>a {
  padding: 8px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.526);
  border-radius: 6px;
  text-decoration: none;
  transition: 0.3s;
}

nav>a:nth-child(1) {
  background-color: rgb(171, 219, 238);
  color: rgb(67, 176, 219);
}

nav>a:nth-child(2) {
  background-color: rgb(196, 238, 171);
  color: rgb(134, 219, 67);
}

nav>a:nth-child(3) {
  background-color: rgb(227, 136, 136);
  color: rgb(210, 71, 71);
}

@keyframes buttonHover {
  0% {
    transform: translateY(-2px) scaleY(1.05) scaleX(1.05);
  }
  
  10% {
    transform: translateY(-2px) scaleX(0.98);
  }
  
  40% {
    transform: translateY(-1px) scaleY(0.98);
  }
  
  50% {
    transform: scaleX(1.05) translateY(-1px);
  }
  
  60%,
  100% {
    transform: translateY(-1px) scaleY(1.05) scaleX(1.05);
  }
}

nav>a:hover {
  animation: buttonHover;
  animation-duration: 0.8s;
  animation-fill-mode: both;
  transition: 0.3s;
}

nav>a:active:nth-child(1) {
  background-color: rgb(103, 186, 219);
}

nav>a:active:nth-child(2) {
  background-color: rgb(145, 225, 98);
}

nav>a:active:nth-child(3) {
  background-color: rgb(221, 84, 84);
}

/***/