@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
  color: white;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  flex-grow: 150;
}

.videos img {
  width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);
  transition: transform 0.3s, box-shadow 0.3s;
}

.videos img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0,0,0,0.8);
}

iframe {
  display: block;
  margin: 0 auto;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
}

a.curso {
  display: block;
  width: fit-content;
  margin: 20px auto;
  padding: 10px 20px;
  color: #121212;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  transition: transform 0.3s;
}

a.curso:hover {
  transform: scale(1.05);
}

.voltar img {
  width: 50px;
  display: block;
  margin: 20px auto;
  transition: transform 0.3s;
}

.voltar img:hover {
  transform: scale(1.2);
}